// fonts
$poppinsBold: "Poppins-Bold";
$poppinsSemiBold: "Poppins-SemiBold";
$poppins: "Poppins-Reguler";
$poppinsMedium: "Poppins-Medium";

// colors
$lightText: #7f7f89;
$darkText: #5d5d64;
$primaryColor: #0d6efd;
$secondaryColor: #fff700;
$secondaryDarkColor: #ffbf00;
